body {
    background: #ffe7d1;
    font-family: Montserrat;
    width: 100vw;
    margin: auto;
    display: grid;
    grid-template-areas: "a b b"
                         "a c d"
                         "a e d"
                         "f f f";
}

.h {
	padding-top: 0.5em;
    padding-left: 5vw;
    padding-right: 5vw;
	font-size: 5em;
}

.t {
	padding-top: 0.5em;
    padding-left: 2vw;
    padding-right: 2vw;
	font-size: 3em;
}

.tt{
	padding-top: 0.5em;
    padding-left: 2vw;
	font-size: 1.5em;
	width: 8.7vw;
}

.button {
	font-size: 1.5em;
}

.inp {
	height: 5em;
	width: 15em;
}

.t1{
    background: #F296D0;
    width: 24.9vw;
    height: 90em;
    grid-area: a;
}

.t4{
    background: #4252FF;
    width: 75vw;
    height: 20em;
    grid-area: b;
}

.header{
	padding-top: 2.5em;
    padding-left: 5vw;
}

.main-h{
    padding-left: 37.5vw;
	font-size: 5em;
}

.t3{
    background: #FFEF42;
    width: 50vw;
    height: 10em;
    grid-area: c;
}

.t2{
    background: #F296D0;
    width: 25vw;
    height: 70em;
    grid-area: d;
}

.t5{
    background: #99F9F1;
    width: 50vw;
    height: 60em;
    grid-area: e;
}

.t6{
    background: #4252FF;
    width: 100vw;
    height: 10em;
    grid-area: f;
}

.footer{
	padding-top: 1em;
    padding-left: 5vw;
}


.f1{
	padding-top: 1em;
    padding-left: 60vw;
}
